html {
    background-image: url("../image/banner-bg.png");
    color: white;
}

header {
    background-color: #ffffff00;
    border: 1px solid #00000000;
    border-bottom: 3px solid #ffffff54;
}

main {
    margin: 120px 0px;
    display: grid;
    grid-template-columns: auto auto;
}


.logo-banner {
    width: 370px;
    position: absolute;
    right: 0;
    top: 34%;
    animation: animation-logo-banner 3s linear infinite;
    transform: translate(0px, 10px);
}

@keyframes animation-logo-banner {
    20% {
        transform: translate(0px, 20px);
    }

    50% {
        transform: translate(0px, 15px);
    }

    100% {
        transform: translate(0px, 10px);
    }
}

.profile h3 {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 50px;
    background-image: linear-gradient(90deg, rgb(86, 36, 80), rgb(69, 33, 91), rgb(52, 31, 94));
    cursor: pointer;
}

.profile {
    display: inline-block;
    transition: all 0.5s;
}

.profile:hover+.content-right {
    background-color: rgba(244, 222, 222, 0.082);
    color: rgba(251, 216, 252, 0.914);
}

/*  */
.content-right {
    color: rgb(255, 255, 255);
    padding: 7px 10px;
    margin-left: 100px;
    width: 300px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.048);
    box-shadow: 0 0 5px rgba(228, 227, 227, 0.461);
}

.content-right-top,
.info1-profile2 {
    display: flex;
    flex-direction: column;
}

.content-right-profile {
    margin-left: 10px;
    padding: 15px;
    font-size: 27px;
    font-weight: bold;
    color: rgb(155, 224, 213);
    text-shadow: 0 0 4px rgb(221, 173, 173);
}


.info1,
.skill div,
.info1-profile2-dl,
.info2 div {
    display: flex;
    flex-direction: row;
}

.info1-profile1 {
    margin-left: 5px;
}

.info1-profile1 img {
    width: 80px;
    border-radius: 50%;
}

.info1-profile2 {
    margin-left: 17px;
}

.info1-profile2-dl {
    margin-bottom: 5px;
}

.info1-profile2-dl p,
.skill p {
    align-self: center;
}

.logo-birth {
    width: 20px;
    margin-right: 7px;
}

.logo-loca {
    width: 25px;
    margin-left: -2px;
    margin-right: 7px;
}

.logo-name {
    margin-right: 4px;
    margin-left: -5px;
    width: 30px;
}

.char-name {
    margin-right: 15px;
}

.skill {
    margin-top: 20px;
}

.skill div {
    margin-bottom: 7px;
}

.skill-size {
    margin-left: 20px;
}

.skill-size img {
    width: 33px;
    margin-right: 7px;
}

.skill-frontend,
.skill-backend {
    margin-left: 60px;
}

.skill-frontend img,
.skill-backend img {
    width: 22px;
    margin-right: 7px;
}


.no {
    text-decoration: line-through;
}

.logo-skill-lang {
    margin-left: 90px;
}

.logo-skill-lang img {
    width: 15px;
    margin-right: 7px;
}

.info2 {
    margin: 20px 30px 10px 30px;
}

.div-logo-gmail {
    margin-bottom: 5px;
}

.info2 img {
    width: 20px;
    margin-right: 7px;
}

video {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(249, 213, 213, 0.461);
    border: 1px solid #ffffff6f;
    opacity: 0.96;
    transition: all 0.5s;
    position: relative;
    top: 50px;
    display: block;
}

.sothich:hover+video {
    border: 2px solid #f7d1d1e6;
    border-radius: 10px;
}

footer {
    background-color: #506079dd;
    color: #ffffff;
}