.main {
    margin: 7% 30%;
    max-width: 600px;
    padding: 40px;
    background-color: #f9c9c954;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.364);
}

.main h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #212020;
}

.main p {
    margin-bottom: 20px;
    color: #666;
}

.main label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.main input,
.main textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.main input[type="submit"] {
    background-color: #292636;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}